<section class="regervation_part section_padding">
  <div class="container">
      <div class="row">
          <div class="col-xl-5">
              <div class="section_tittle">
                  
                  <h2>Login</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <div class="regervation_part_iner">
                  <form #loginForm="ngForm" (ngSubmit)="signin()">
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="login.email" name="email" placeholder="Email *">
                          </div>
                          
                        
                         
                          <div class="form-group col-md-6">
                              <div class="input-group date">
                                  <input id="datepicker" type="password" class="form-control" [(ngModel)]="login.password" name="password" placeholder="Password *" />
                              </div>
                          </div>
                          
                         
                      </div>


                      <div class="regerv_btn">
                          <button type="submit" class="btn btn-warning">Login</button>
                          <div style="color: brown;">{{errorMsg}}</div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>