<!-- banner part start-->
<app-banner></app-banner>
<!-- banner part start-->

<!--::exclusive_item_part start::-->
<app-plats></app-plats>
<!--::exclusive_item_part end::-->

<!-- about part start-->
<app-history></app-history>
<!-- about part end-->

<!-- intro_video_bg start-->
<app-video></app-video>
<!-- intro_video_bg part start-->

<!-- food_menu start-->
<app-menu></app-menu>
<!-- food_menu part end-->

<!--::chefs_part start::-->
<app-chefs></app-chefs>
<!--::chefs_part end::-->

<!--::regervation_part start::-->
<app-reservation></app-reservation>
<!--::regervation_part end::-->

<!--::review_part start::-->
<app-testmonials></app-testmonials>
<!--::review_part end::-->

<!--::exclusive_item_part start::-->
<app-news></app-news>
<!--::exclusive_item_part end::-->
