<section class="exclusive_item_part blog_item_section">
  <div class="container">
      <div class="row">
          <div class="col-xl-5">
              <div class="section_tittle">
                  <h2 style="margin-top: 30%; margin-left: 120%;">Popular Dishes</h2>
                  
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-4" *ngFor="let p of platsTab">
            <app-plat [platInput]="p"></app-plat>
          </div>
      </div>
     
     
  </div>
</section>