<table class="table">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Tel</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let user of usersResto">
        <td>{{user._id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.tel}}</td>
        <td>
            <button class="btn btn-info" (click)="goToDisplay(user._id)">Display</button>
            <button class="btn btn-warning" (click)="goToEdit(user._id)">Edit</button>
            <button class="btn btn-danger" (click)="delete(user._id)">Delete</button>
        </td>
    </tr>
 </table>