<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner_text">
                    <div>
                        <h1 style="margin-top: 60%;">Chef Info</h1>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<div class="single_blog_img">
    <img style="margin-left: 35%;" src="assets/img/team/chefs_1.png" alt="">
</div>
<app-chef [chefInput]="chef"></app-chef>